/* the Panel is shown only in smart phone */
@media (max-width: 768px) {
    #sd-smartphone-plus-panel {
        display: flex !important;
    }

    .contain {
        margin-bottom: 10rem;
    }
}


/* panel */
#sd-smartphone-plus-panel {
    display: none;
    pointer-events: none;
    position: fixed;
    flex-direction: column;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
}
.sspp-panel > .sspp-panel-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.1rem;
    padding: 0.1rem 0rem;
}
.sspp-panel > .sspp-panel-column.hidden {
    display: none;
}
.sspp-panel button {
    pointer-events: auto;
    position: relative;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    min-height: 2.4rem;
    padding: 1.6rem 0.6rem 0rem 0.6rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: top;
}

/* selector */
.sspp-panel .selector-background,
.sspp-panel .sidemenu-background {
    display: none;
    pointer-events: auto;
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
}
.sspp-panel .selector-board {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    box-sizing: border-box;
}
.sspp-panel .selector-item {
    pointer-events: auto;
    flex: 0 0 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    margin: 0.1rem 2rem;
    z-index: 100;
}
.sspp-panel .selector-item input {
    height: 2rem;
    flex: 1 1 0;
    min-width: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ccc;
}
.sspp-panel .selector-item input[type=text] {
    flex: 2 2 0;
}
.sspp-panel .selector-item .selector-item-label {
    height: 2rem;
    flex: 1 1 0;
    border-width: 0;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
}
.sspp-panel .selector-item .selector-item-button {
    height: 2rem;
    flex: 0 0 2rem;
    border-width: 0;
    background-position: center;
}


.sspp-panel .sidemenu-board {
    display: flex;
    position: absolute;
    width: 16.67%;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: normal;
    box-sizing: border-box;
}

.sspp-panel .selector-board.boxlist {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2rem;
}
.sspp-panel .selector-box {
    pointer-events: auto;
    flex: 0 0 22%;
    aspect-ratio: 1 / 1;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 0.6rem;
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 100;
}



#sspp-inject-css,
#sspp-extract-css {
    background-image: url('./svg/power.svg');
}
#sspp-inject-css-full {
    background-image: url('./svg/fullscreen.svg');
}
#sspp-config {
    background-image: url('./svg/cog.svg');
}
#sspp-nega-prompt {
    background-image: url('./svg/receipt-text-minus.svg');
}
#sspp-sampling {
    background-image: url('./svg/layers-triple.svg');
}
#sspp-size {
    background-image: url('./svg/resize.svg');
}
#sspp-clip {
    background-image: url('./svg/clipboard-text-multiple.svg');
}
#menu-open {
    background-image: url('./svg/menu-open.svg');
}   
#sspp-prevword {
    background-image: url('./svg/arrow-expand-left.svg');
}
#sspp-currword {
    background-image: url('./svg/arrow-expand-horizontal.svg');
}
#sspp-nextword {
    background-image: url('./svg/arrow-expand-right.svg');
}
#sspp-parentheses {
    background-image: url('./svg/code-parentheses.svg');
}
#sspp-ratedown {
    background-image: url('./svg/pan-down.svg');
}
#sspp-rateup {
    background-image: url('./svg/pan-up.svg');
}
#sspp-size-register {
    background-image: url('./svg/plus.svg');
}
.sspp-close.selector-item-button {
    background-image: url('./svg/close.svg');
}


#sspp-generate {
    padding:0.6rem 0.6rem;
    font-size: 1.2rem;
}
#sspp-candidate {
    min-height: 2rem;
}
#sspp-candidate button {
    padding:0.3rem 0;
    font-size: 1rem;
}

.sspp-opened .sspp-panel .sspp-off-ui,
.sspp-panel .sspp-on-ui {
    display: none;
}
.sspp-panel .sspp-off-ui,
.sspp-opened .sspp-panel .sspp-on-ui {
    display: flex;
}

.sspp-opened #sspp-inject-css {
    background-color: #ccc;
}

