/* the Panel is shown only in smart phone */
@media (min-width: 769px) {
    #sd-smartphone-plus-panel {
        display: none !important;
    }
}

/* panel */
#sd-smartphone-plus-panel {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 10000;
}

#sd-smartphone-plus-panel > button {
    pointer-events: auto;
    position: relative;
    flex: 0 1 16.67%;
    display: flex;
    justify-content: center;
    min-height: 3rem;
    padding: 0rem 0.6rem;
    padding-top: 2rem;
    margin: 0.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top;
}

#sd-smartphone-plus-panel > button.operator {
    display: none;
    background-color: #abf;
}

#sspp-inject-css {
    background-image: url('./svg/power.svg');
    background-color: #fff;
}
#sspp-setting {
    background-image: url('./svg/cog.svg');
}
#sspp-nega-prompt {
    background-image: url('./svg/receipt-text-minus.svg');
}
#sspp-sampling {
    background-image: url('./svg/layers-triple.svg');
}
#sspp-size {
    background-image: url('./svg/resize.svg');
}

#sd-smartphone-plus-panel.opened > #sspp-inject-css {
    background-color: #abf;
}
#sd-smartphone-plus-panel > #sspp-inject-css > span.sspp-button-label-on {
    display: none;
}
#sd-smartphone-plus-panel.opened > #sspp-inject-css > span.sspp-button-label-on {
    display: flex;
}
#sd-smartphone-plus-panel > #sspp-inject-css > span.sspp-button-label-onff {
    display: flex;
}
#sd-smartphone-plus-panel.opened > #sspp-inject-css > span.sspp-button-label-off {
    display: none;
}
#sd-smartphone-plus-panel.opened > button.operator {
    display: flex;
}

/* the Panel is shown only in smart phone */
@media (min-width: 769px) {
    #sd-smartphone-plus-panel {
        display: none !important;
    }
}

/* panel */
#sd-smartphone-plus-panel {
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
}
#sd-smartphone-plus-prompt-helper {
    margin-top: -16px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    right: 0px;
    gap: 0.1rem;
}
.sspp-panel > .sspp-panel-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.1rem;
    padding: 0.1rem 0rem;
}
.sspp-panel button {
    pointer-events: auto;
    position: relative;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    min-height: 2.4rem;
    padding: 1.6rem 0.6rem 0rem 0.6rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: top;
}

.sspp-panel button.selector-item {
    padding:0.7rem 0.6rem;
    font-size: 1rem;
}
.sspp-panel .selector {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 4rem;
    left: 4rem;
    right: 4rem;
}
.sspp-panel button.selector-item {
    pointer-events: auto;
    height: 2rem;
    padding: 0rem 0.6rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    color: #333;
    background-color: #fff;
    margin: 0.1rem;
}

#sspp-inject-css {
    background-image: url('./svg/power.svg');
}
#sspp-config {
    background-image: url('./svg/cog.svg');
}
#sspp-nega-prompt {
    background-image: url('./svg/receipt-text-minus.svg');
}
#sspp-sampling {
    background-image: url('./svg/layers-triple.svg');
}
#sspp-size {
    background-image: url('./svg/resize.svg');
}
#sspp-prevword {
    background-image: url('./svg/arrow-expand-left.svg');
}
#sspp-currword {
    background-image: url('./svg/arrow-expand-horizontal.svg');
}
#sspp-nextword {
    background-image: url('./svg/arrow-expand-right.svg');
}
#sspp-parentheses {
    background-image: url('./svg/code-parentheses.svg');
}
#sspp-ratedown {
    background-image: url('./svg/pan-down.svg');
}
#sspp-rateup {
    background-image: url('./svg/pan-up.svg');
}
#sspp-generate {
    padding:0.6rem 0.6rem;
    font-size: 1.2rem;
}

.sspp-panel button.helper,
.sspp-panel button.operator {
    display: none;
}
.sspp-opened .sspp-panel button.helper, 
.sspp-opened .sspp-panel button.operator {
    display: flex;
}

.sspp-opened #sspp-inject-css {
    background-color: #ccc;
}
.sspp-opened #sspp-inject-css > .sspp-button-label-on,
#sspp-inject-css > .sspp-button-label-onff {
    display: flex;
}
.sspp-opened #sspp-inject-css > .sspp-button-label-off,
#sspp-inject-css > .sspp-button-label-on {
    display: none;
}

